.container
  .grid-row
    .grid-item-third-width
      %h2.section-heading Short Takes
      %ul.links-list
        %li.links-list-item
          .grid-item-image
            %img.grid-item-image{:src => lorem.image("480x270") }
          %h3.links-item-title= lorem.words 5
          %h5.links-item-author= "By #{ lorem.words 2 }"
    .grid-item-third-width
      %h2.section-heading Most Viewed
      %ul.links-list
        %li.links-list-item
          %h3.links-item-title= lorem.words 5
          %h5.links-item-author= "By #{ lorem.words 2 }"
        %li.links-list-item
          %h3.links-item-title= lorem.words 5
          %h5.links-item-author= "By #{ lorem.words 2 }"
        %li.links-list-item
          %h3.links-item-title= lorem.words 5
          %h5.links-item-author= "By #{ lorem.words 2 }"
        %li.links-list-item
          %h3.links-item-title= lorem.words 5
          %h5.links-item-author= "By #{ lorem.words 2 }"
    .grid-item-third-width
      %img.grid-item-image{:src => lorem.image("400x400") }
