---
title: The Los Angeles Review of Books
---
= partial "partials/hero", :locals => { :title => "Danielle Tegeder", :category => "Featured Artist" }
= partial "partials/featured_stories"
.container
  .grid-row
    %img{:src => lorem.image("960x125") }
= partial "partials/short_takes_most_viewed"
= partial "partials/larb_av"
= partial "partials/reviews"
.container
  .grid-row
    %img{:src => lorem.image("960x125") }
